html {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #276ca3;
  border: solid 3px #e5e5e5;
  padding: .5em 0;
}

.pieces {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  text-align: right;
  background-color: #000000;
}

.pieces * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.pieces img {
  max-width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pieces h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  color: #c9e9e6;
  opacity: 0.75;
}

.pieces p {
  font-size: 0.8em;
  color: #38ab96;
}

.pieces figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 40%;
  -webkit-transform: translateX(150%);
  -ms-transform: translateX(150%);
      transform: translateX(150%);
}

.pieces figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}

.pieces:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  transition: all 0.35s ease;
}

.pieces h3,
.pieces p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
      transform: translateX(-30px);
  margin: 0;
}

.pieces:hover img,
.pieces.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.pieces:hover:after,
.pieces.hover:after,
.pieces:hover figcaption,
.pieces.hover figcaption {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
      transform: translateX(0);
  opacity: 1;
}
