html {
  font-family: $type;
}

h1 {
  text-align: center;
  color: $primary;
  border: solid 3px $gray; 
  padding: .5em 0;
}

.pieces {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  text-align: right;
  background-color: $black;
    * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box; // aligns both triangles  
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;  
    }
    img {
      max-width: 100%;
      backface-visibility: hidden;
    }
    h3 {
      margin: 0 0 5px;
      line-height: 1.1em;
      font-weight: 900;
      font-size: 1.4em;
      color: $light-blue;
      opacity: 0.75; 
    }
    p {
      font-size: 0.8em;
      color: $light-green;
    }
}

//.pieces * {
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box; // aligns both triangles  
//  -webkit-transition: all 0.35s ease;
//  transition: all 0.35s ease;
//}

//.pieces img {
//  max-width: 100%;
//  backface-visibility: hidden;
//}

.pieces figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: $white;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
  &:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 120px 0;
    border-color: transparent $white transparent transparent;
  } 
}

//.pieces figcaption:before {
//  position: absolute;
//  top: 50%;
//  -webkit-transform: translateY(-50%);
//  transform: translateY(-50%);
//  right: 100%;
//  content: '';
//  width: 0;
//  height: 0;
//  border-style: solid;
//  border-width: 120px 120px 120px 0;
//  border-color: transparent $white transparent transparent;
//}

.pieces {
  &:after {
    position: absolute;
    bottom: 50%;
    right: 40%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 0 120px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
}

//.pieces:after {
//  position: absolute;
//  bottom: 50%;
//  right: 40%;
//  content: '';
//  width: 0;
//  height: 0;
//  border-style: solid;
//  border-width: 120px 120px 0 120px;
//  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
//  -webkit-transform: translateY(-50%);
//  transform: translateY(-50%);
//  -webkit-transition: all 0.35s ease;
//  transition: all 0.35s ease;
//}

.pieces h3,
.pieces p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}

//.pieces h3 {
//  margin: 0 0 5px;
//  line-height: 1.1em;
//  font-weight: 900;
//  font-size: 1.4em;
//  color: $light-blue;
//  opacity: 0.75; // change according to colour being used
//}

//.pieces p {
//  font-size: 0.8em;
//  color: $light-green;
//}

.pieces:hover img,
.pieces.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.pieces:hover:after,
.pieces.hover:after,
.pieces:hover figcaption,
.pieces.hover figcaption, {
// completely makes everything stop working  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}